@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all duration-150;
}
@layer base {
  :root[data-theme="light"],
  html.light {
    --text: 255, 255, 255;
    --background: 102, 89, 187;
    --primary: 188, 152, 106;
    --secondary: 218, 173, 134;
    --accent: 251, 238, 193;
  }
  :root[data-theme="dark"],
  html.dark {
    --text: 255, 255, 255;
    --background: 40, 40, 40;
    --primary: 53, 13, 51;
    --secondary: 36, 0, 144;
    --accent: 25, 0, 97;
  }
}

input[type="file"]::file-selector-button {
  background: #9143df;
  color: #fbfbfe;
}
@media (prefers-color-scheme: dark) {
  input[type="file"]::file-selector-button {
    background: #9143df;
    color: #010104;
  }
}

.element {
  opacity: 0; /* Initially hide the element */
  position: fixed; /* Fixed positioning for full screen animation */
  bottom: 0%; /* Position off-screen below the viewport */
  width: 100%; /* Set width to full screen */
  transition: transform 1s ease-in-out, opacity 0.5s ease-in-out; /* Define transition properties */
}

.element.onscreen {
  opacity: 1;
  transform: translateY(0%);
}

.element.offscreen {
  opacity: 0;
  transform: translateY(100%);
}

/* .preview-window {
  overscroll-behavior: none;
} */
