@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #020014;
    --background: #fbfbfe;
    --primary: #6e20bc;
    --secondary: #5e328f;
    --accent: #f358a6;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --text: #edebff;
      --background: #010104;
      --primary: #9143df;
      --secondary: #9b70cd;
      --accent: #a70c59;
    }
  }
}
